/* ========================
Global Layout
=========================== */

* {
    box-sizing: border-box;
}

/* ========================
Basic Selector Style
=========================== */

body {
    color: #000;
    line-height: 1.6;
}

h2,
h3 {
    text-align: center;
}

li {
    list-style: none;
}

p {
    font-size: 18px;
}

/* ========================
Navigation Layout Style
=========================== */

.main-nav {
    background: #ffa500;
}

.name {
    margin: 0;
    font-size: 50px;
}

.main-nav li {
    font-size: 25px;
}

.bottom-nav li {
    background:#ffa500;
    margin: 4px 5px;
    border-radius: 5px;
}


.bottom-nav,
.bottom-nav li {
    display: inline-block;
    
}

.bottom-nav a {
    padding: 4px 6px;
    display: block;
    text-align: center;
    color: #000;
    text-decoration: none;
    font-size: 17px;
}

.bottom-nav {
    text-align: center;
    
}

.bot-home,
.bot-portfolio,
.bot-contact {
    visibility: hidden;
}


/* ========================
Basic Layout Container
=========================== */

.container {
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    max-width: 767px;
}

.main-footer {
    background: #dcdcdc;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.main-footer a {
    color: #000;
    text-decoration: none;
    font-size: 25px;
}

.main-footer li {
    background: #808080;
    margin: 0 150px;
    border-radius: 5px;
}

.main-nav li,
.name {
    color: #fff;
    text-align: center;
}

.self-img {
    width: 100%;
    padding: 10px;
    border: solid orange 2px;
    border-radius: 50%;
}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6 {
    width: 100%;
    padding: 10px;
    border: solid orange 2px;
    border-radius: 10px;
}

/* ========================
Pseudo Styles
=========================== */

a:hover {
    color: #ff0000;
}


/* ========================
Media Queries
=========================== */


    

    

    
